$color--nav--landing: #2565ae;

.nav {
  background-color: $color--nav--landing;
  display: flex;
  color: white;
  height: 7.5rem;
  box-shadow: 0 4px 2px -2px gray;
  align-items: center;
  font-weight: 700;

  & a {
    color: white;
    text-decoration: none;
  }

  & ul {
    list-style: none;
    display: flex;
    flex: auto;
    justify-content: space-around;
  }
}
